.image-container {
  height: 56px;
  width: 56px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 8px;
}

.image-container > img {
  width: 100%;
  height: 100%;
}

.recipe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-bottom: 8px;
}

.recipe > .pull-left {
  width: 100%;
}

/*.list-group-item-text {*/
/*  color: #d7daff;*/
/*}*/

/*.list-group-item-heading {*/
/*  color: #ffffff !important;*/

/*}*/

