<div class="row">
  <div class="col-xs-12">
    <img src="#" alt="" class="image-responsive" />
  </div>
</div>

<div class="row">
  <div class="col-xs-12">Recipe Name</div>
  </div>


<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Manage recipe<span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredient to Shopping List</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">Describe</div>
</div>
<div class="row">
  <div class="col-xs-12">Ingredients</div>
</div>

