<div class="row">
  <div class="col-xs-12">
    <button style="margin-bottom: 16px" class="btn btn-success">New Recipe</button>
  </div>
</div>
<p basicHighLightDirective>Hello pink test</p>
<p betterBasicHighLightDirective>Hello blue better</p>
<p betterBasicHighLightDirectiveWithHostBinding>Hello blue Host Binding</p>
<p betterBasicHighLightDirectiveWithHostBinding [defaultColor]="'#b0815a'" [highlightColor]="'#a64a00'">Hello blue Host Binding</p>
<div class="row recipes-container">
  <div class="col-xs-12">
    <app-recipe-item  *ngFor="let recipeElement of recipes; let i = index" [recipe]="recipeElement" [index]="i"></app-recipe-item>
  </div>

</div>
